body{
    background: linear-gradient(0deg, rgb(66, 117, 134) 40%, rgb(66, 40, 78) 100%);
    font-family: 'Balsamiq Sans', cursive;
}

#app{
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(1,1fr);
    height:98vh;
    justify-content: center;
    gap: 1em;
    font-size: 16pt;
}

.holder{
    display: flex;
}

.entry{
    background: linear-gradient(0deg, rgb(24, 106, 121) 20%, rgb(56,68,98) 100%);
    border: whitesmoke 4px solid;
    border-radius: 10px;
}

#entryHolder{
    color: rgba(221, 218, 32, 0.822);
    font-size: 140%;
    margin-left: 20px;
}


.headline {
    background-image: url(https://media4.giphy.com/media/xUPGcym3AMImsZxSus/giphy.gif?cid=ecf05e47vzxkp5uyc79x35lb92surxit9k8eudyyvzmhrunt&rid=giphy.gif&ct=g);
    border: whitesmoke 5px solid;
    border-radius: 10px;
    color: rgb(55, 133, 197);
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.title{
    color: whitesmoke;
    text-align: center;
    font-size: 20pt;
    padding: 0.5em
}
.btn__adj {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

#generate {
    padding: 0.3em;
    font-size: 130%;
    border-radius: 200px;
}

#generate:hover {
    cursor: pointer;
    background-color: black;
    color: whitesmoke;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 20pt;
    color: mintcream;
}

input{
    background-color: rgb(197, 188, 188);
    color: black;
    display:block;
    height: 25%;
    width: 20%;
    font-size: 20pt;
    border: solid 3px black;
    border-radius: 10px;
    padding: 0.5em;
}

button{
    background-color: snow;
    width: 15%;
    font-size: 20pt;
    border: solid 3px black;
    border-radius: 12px;
    box-shadow: 2px 4px 5px #444;
}

h1{
    font-size: 36px;
}

textarea{
    background-color: rgb(197, 188, 188);
    color: black;
    width: 95%;
    font-size: 22pt;
    border: black 3px solid;
    border-radius: 10px;
    padding: 0.7em;
}
/* Reset style for HTML element on active to have no border*/
/*
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
*/
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: black; 

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: black; 

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color:black; 

} 